<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.document.mapper.FileInformationMapper">

    <select id="pageSearch" resultType="com.cms.document.entity.FileInformationEntity">
        SELECT * FROM t_file_info
        <where>
            <if test="request.keyword != null and request.keyword != ''">
                AND bucket = #{request.keyword}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>
