<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.job.mapper.JobMapper">

    <select id="pageSearch" resultType="com.cms.job.entity.JobInformationEntity">
       SELECT id, task_id, task_name, task_group_name, job_class, cron_expression, create_time, update_time
       FROM t_job_information
        <where>
            <if test="request.keyword != null and request.keyword != ''">
                AND task_name LIKE CONCAT('%',#{request.keyword},'%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
