<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.manage.mapper.SysDicMapper">

    <delete id="deleteBathDic">
        DELETE FROM sys_dic WHERE id IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <select id="pageSearch" resultType="com.cms.manage.entity.SysDicEntity">
       SELECT id, code, name, category, enabled, create_time, update_time FROM sys_dic
        <where>
            <if test="request.keyword != null and request.keyword != ''">
                AND name LIKE CONCAT('%',#{request.keyword},'%')
            </if>
            <if test="request.category != null and request.category != ''">
                AND category = #{request.category}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>
