<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.manage.mapper.SysMenuMapper">

    <select id="findOperatorMenuByUserId" resultType="com.cms.manage.entity.SysMenuEntity">
        SELECT DISTINCT m.*
        FROM
            sys_operator AS u
            LEFT JOIN sys_operator_role AS pr ON u.id = pr.user_id
            LEFT JOIN sys_role AS r ON r.id = pr.role_id
            LEFT JOIN sys_role_menu AS rm ON rm.role_id = r.id
            LEFT JOIN sys_menu AS m ON m.id = rm.menu_id
        WHERE u.id = #{userId}
        <if test='flag == true'>
            AND m.type IN("menu","link","iframe")
        </if>
        ORDER BY m.sort ASC
    </select>

    <select id="listMenu" resultType="com.cms.manage.entity.SysMenuEntity">
        SELECT DISTINCT m.* FROM sys_menu m ORDER BY m.sort ASC
    </select>

    <select id="maxSort" resultType="java.lang.Integer">
        SELECT MAX(sort) FROM sys_menu
    </select>

    <select id="countRoleMenuByMenuId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM sys_role_menu WHERE menu_id = #{id}
    </select>

    <delete id="deleteBath" parameterType="java.util.List">
        DELETE FROM sys_menu WHERE id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>
