<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.manage.mapper.SysOperatorMapper">

    <!--分页查询操作员-->
    <select id="pageSearch" resultType="com.cms.manage.entity.SysOperatorEntity">
        SELECT so.id,so.avatar,so.username,so.avatar,so.scope,so.is_enabled,so.create_time ,sr.`name` AS roleName
        FROM sys_operator AS so
        LEFT JOIN sys_operator_role AS sor ON so.id = sor.user_id
        LEFT JOIN sys_role AS sr ON sr.id = sor.role_id
        ORDER BY
            so.create_time DESC
    </select>

    <!--添加操作员角色关联信息-->
    <insert id="saveOperatorRole">
       INSERT INTO sys_operator_role(id, user_id, role_id) VALUES (#{id},#{userId},#{roleId})
    </insert>

    <!--删除操作员角色关联信息-->
    <delete id="deleteOperatorRoleByUserId">
        DELETE FROM sys_operator_role WHERE user_id = #{userId}
    </delete>

    <!--修改操作员角色关联信息-->
    <update id="updateOperatorRoleByUserId">
        UPDATE sys_operator_role SET role_id = #{roleId} WHERE user_id = #{userId}
    </update>

</mapper>
