<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.manage.mapper.SysPermissionMapper">

    <!--根据用户id查询用户权限-->
    <select id="getPermissionListByUserId" resultType="com.cms.manage.entity.SysPermissionEntity">
        SELECT DISTINCT
            p.id,
            p.parent_id,
            p.NAME,
            p.label,
            p.CODE,
            p.url,
            p.type,
            p.icon,
            p.remark,
            p.path,
            p.order_num
        FROM
            sys_operator AS u
                LEFT JOIN sys_operator_role AS ur ON u.id = ur.user_id
                LEFT JOIN sys_role AS r ON ur.role_id = r.id
                LEFT JOIN sys_role_permission AS rp ON rp.role_id = r.id
                LEFT JOIN sys_permission AS p ON rp.permission_id = p.id
        WHERE
            u.id = #{userId}
        ORDER BY
            p.order_num ASC
    </select>

    <select id="queryList" resultType="com.cms.manage.entity.SysPermissionEntity" parameterType="com.cms.manage.entity.SysPermissionEntity">
        SELECT id, parent_id, label, code, path, name, url, order_num,
               type, icon, remark, create_time, update_time, parent_name
        FROM sys_permission
        <where>
            <if test="request.label != null and request.label != ''">
                AND label LIKE CONCAT('%',#{request.label},'%')
            </if>
            <if test="request.type != null and request.type != ''">
                AND type = #{request.type}
            </if>
        </where>
        ORDER BY order_num ASC
    </select>

    <select id="getPermissionListByRoleId" resultType="com.cms.manage.entity.SysPermissionEntity">
        SELECT DISTINCT p.*
        FROM
            sys_permission AS p
            JOIN sys_role_permission AS rp ON p.id = rp.permission_id
            JOIN sys_role AS sr ON rp.role_id = sr.id
        WHERE
            rp.role_id = #{roleId}
    </select>

    <select id="countRolePermission" resultType="Integer">
        SELECT COUNT(*) FROM sys_role_permission WHERE permission_id = #{id}
    </select>

</mapper>
